{%extends 'base.html'%}

{%block title_block%}

<title>movie details</title>
{%endblock%}

{%block main_block%}

<div class="container mt-5  d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
      <div class="card-header">
        title:{{data.title}}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">year:{{data.year}}</li>
        <li class="list-group-item">run_time:{{data.run_time}}</li>
        <li class="list-group-item">language:{{data.language}}</li>
        <li class="list-group-item">director:{{data.director}}</li>
        <li class="list-group-item">producer:{{data.producer}}</li>
        <li class="list-group-item">genre:{{data.genre}}</li>
      </ul>
    </div>
  
</div>
{%endblock%}

