{% extends 'base.html'%}  

{% block title_block%}

<title>movie list</title>

{%endblock%}


{% block main_block%}

<div class="container p-4 border mt-5">

    <table class="table">
        <a href="{%url 'movie-create'%}" class="btn btn-success">add view</a>
        <tr>
            <td>title</td>
            <td>year</td>
            <td>language</td>
            <td>genre</td>
            <td>runtime</td>
            <td>action</td>
        </tr>
        {%for m in data%}
        <tr>
            <td>{{m.title}}</td>
            <td>{{m.year}}</td>
            <td>{{m.language}}</td>
            <td>{{m.genre}}</td>
            <td>{{m.run_time}}</td>
            <td>
                <a href="{%url 'movie-detail' m.id %}" class="btn btn-outline-primary">view</a>
                <a href="{%url 'movie-delete' m.id %}"class="btn btn-outline-danger"> delete</a>
                <a href="{%url 'movie-update' m.id %}" class="btn btn-outline-success" >edit</a>
            </td>
            
        </tr>
        {%endfor%}
    </table>

</div>
{%endblock%}
    